{% load static %}
{% include 'header.html' %}

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Learn More About Our Skill Teaching and Learning Methods</h1>
                        <p> Welcome to the Community Skills Sharing Platform, a hub where people come together to exchange knowledge, share expertise, and grow collectively. Our platform is built on the belief that everyone has unique skills and talents that can benefit others, and by fostering collaboration, we can create a stronger, more connected community.

Our mission is to bridge the gap between those who seek to learn and those who wish to share their expertise. Whether it’s learning a new language, mastering a craft, or developing technical skills, our platform empowers users to connect, teach, and learn from one another. We aim to make skill-sharing simple, accessible, and rewarding for everyone.</p>
                        <p class="mb-4"></p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <a class="btn btn-primary rounded-pill py-3 px-5" href="/user_login">Read More</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle flex-shrink-0" src="{%static 'img/u1.jpeg' %}" alt="" style="width: 45px; height: 45px;">
                                    <div class="ms-3">
                                        <h6 class="text-primary mb-1">Farsana</h6>
                                        <small>CEO & Founder</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{%static 'img/c12.jpg' %}" alt="">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="{%static 'img/c2.jpg' %}" alt="">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="{%static 'img/c3.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


{% include 'footer.html' %}