{% load static %}
{% include 'header.html' %}



        <!-- Facilities Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Our Experts</h1>
                    <p>In our community-driven skills-sharing platform, everyone has the opportunity to teach and learn. Teachers are experienced members who share their knowledge through interactive sessions, video tutorials, and collaborative projects. The teaching style is flexible, supportive, and tailored to make learning engaging and accessible for all!</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="facility-item bg-primary">
                            <div class="facility-icon">
                                <!-- <span class="bg-primary"></span> -->
                                <i class="fa-solid fa-utensils fa-3x text-primary"></i>
                                <!-- <span class="bg-primary"></span> -->
                            </div>
                            <div class="facility-text bg-primary">
                                <h3 class="text-primary mb-3">Emma-Culinary Artist</h3>
                                <p class="mb-0">Emma is a chef specializing in world cuisines and teaches creative ways to make healthy and delicious meals at home.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item bg-success">
                            <div class="facility-icon">
                                <!-- <span class="bg-success"></span> -->
                                <i class="fa fa-futbol fa-3x text-success"></i>
                                <!-- <span class="bg-success"></span> -->
                            </div>
                            <div class="facility-text bg-success">
                                <h3 class="text-success mb-3">Ryan-Fitness Coach</h3>
                                <p class="mb-0"> Ryan is a certified fitness trainer who helps users build personalized fitness routines and adopt healthier lifestyles.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item bg-warning">
                            <div class="facility-icon">
                                <!-- <span class="bg-warning"></span> -->
                                <i class="fa fa-home fa-3x text-warning"></i>
                                <!-- <span class="bg-warning"></span> -->
                            </div>
                            <div class="facility-text bg-warning">
                                <h3 class="text-warning mb-3">Sophia-Music Maestro</h3>
                                <p class="mb-0">Sophia is a passionate musician who teaches learners of all levels to master their favorite instruments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="facility-item bg-info">
                            <div class="facility-icon">
                                <!-- <span class="bg-info"></span> -->
                                <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                                <!-- <span class="bg-info"></span> -->
                            </div>
                            <div class="facility-text bg-info">
                                <h3 class="text-info mb-3">Ava-Craft Specialist</h3>
                                <p class="mb-0">Ava is a creative craft enthusiast who inspires people to explore art with simple yet beautiful papercraft projects.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facilities End -->

{% include 'footer.html' %}