{% load static %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/rpassword.css' %}">


<div class="container-xxl py-5">
    <div class="container clr   ">
        <div class="log-container">
            <div class="form-container">
                
                <h2>Reset Password</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}  
                    <button type="submit">Submit</button><br>
                    <a href="/user_login">Back to login</a>
                </form>
                </div>
                </div>
                </div>
                </div>








{% include 'footer.html' %}