{% load static %}
{% include 'header.html' %}

<h2>All Skills</h2>
    {% for skill in skills %}
        <div>
            <h3>{{ skill.skill_name }}</h3>
            <p>Category: {{ skill.category }}</p>
            <p>Sub-category: {{ skill.sub_category }}</p>
            {% if skill.skill_video %}
                <video width="320" height="240" controls>
                    <source src="{{ skill.skill_video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            {% if skill.cover_image %}
                <img src="{{ skill.cover_image.url }}" alt="Skill Image" width="200">
            {% endif %}
        </div>
        <hr>
    {% empty %}
        <p>No skills posted yet.</p>
    {% endfor %}

    {% include 'footer.html' %}