

.log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
    background: linear-gradient(to left , rgb(255, 255, 255), rgb(241, 140, 73), rgb(255, 255, 255));
    width: 100%;
    margin-top: -50px;
    margin-bottom: -100px;
}

/* Styling the form container */
.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Input field styling */
form p {
    margin-bottom: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit button styling */
button {
    width: 100%;
    background:#fe5d37;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #fe5d37;
}
